body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f8ff; /* Escolha uma cor de fundo */
    color: #0f0f0f; /* Cor da fonte */
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}
img {
    max-width: 100%;
    height: auto;
}
h1 {
    text-align: center;
    color: #24376d33; /* Cor do título */
}
.content {
    margin-top: 20px;
}